*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightgreen;
}

.login-container{
    width: 100%;
    margin: 15%;
    height: 0px;
}

.login-form-1{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    color: #333;

}

.btnsubmit{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    text-size-adjust: auto;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    background-color: royalblue;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}